Holdout

In [1]:

import pandas as pd
data = pd.read_csv("btissue.csv")
data.head()

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P,class
0,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334,car
1,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776,car
2,551.879287,0.232478,0.063530,264.804935,11888.391830,44.894903,77.793297,253.785300,656.769449,car
3,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701814,car
4,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503,car

In [2]:
#import the function <train_test_split> to split input data set into training and testing
from sklearn.model_selection import train_test_split

In [3]:
# shape (number of data, number of columns)
data.shape

(106, 10)

In [4]:
# split the dataset into training and test data
data_train, data_test = train_test_split(data, test_size = 0.3, random_state = 123)
# test_size = the ratio of test data to the input data to 0.3 or 30%
# random_state sets the seed for random number generator

In [5]:
# len(): number of data
len(data_train)

74

In [6]:
len(data_test)

32

K-fold cross-validation

In [8]:
data = pd.read_csv("auto_mpg.csv")
len(data)

398

In [9]:
from sklearn.model_selection import KFold

In [10]:
#kf = KFold(n_splits=10)
kf = KFold(n_splits=10, shuffle=True, random_state=123)

In [16]:
 for fold, (train_index,test_index) in enumerate(kf.split(data),1):
     print(f"Fold {fold}")
     print(" Train indices:", train_index)
     print(" Test indices :", test_index, "\n")

Fold 1
 Train indices: [  0   1   2   3   4   5   6   7   8  10  12  13  14  16  17  18  19  20
  21  22  23  24  25  26  27  28  29  30  31  32  34  35  36  37  38  39
  40  43  44  45  46  47  49  50  51  52  53  55  56  57  58  59  60  61
  62  63  64  65  66  67  68  69  70  71  72  73  74  76  77  78  80  81
  82  83  84  85  86  87  88  89  90  92  93  94  95  96  97  98  99 100
 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 121
 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139
 140 141 143 144 145 146 147 148 149 151 152 153 154 155 156 157 158 159
 160 161 162 163 164 165 166 167 168 169 171 173 174 176 177 178 179 180
 181 182 183 184 185 186 187 188 191 192 193 194 195 197 198 200 201 202
 203 204 205 206 207 208 209 211 212 213 214 215 216 217 218 219 220 221
 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239
 240 241 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258
 259 260 261 262 263 265 266 267 268 269 270 271 272 273 274 275 276 278
 279 280 281 283 284 285 286 287 288 289 290 291 294 296 297 298 300 301
 302 303 304 305 306 307 308 310 311 312 313 314 315 316 317 318 319 320
 321 322 323 324 325 326 327 328 329 330 331 332 333 334 336 337 338 339
 340 341 342 343 344 346 348 349 350 351 352 353 354 355 356 357 358 360
 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 379
 380 381 382 383 384 385 388 389 390 391 392 393 394 395 396 397]
 Test indices : [  9  11  15  33  41  42  48  54  75  79  91 101 102 120 142 150 170 172
 175 189 190 196 199 210 242 264 277 282 292 293 295 299 309 335 345 347
 359 378 386 387]

Fold 2
 Train indices: [  0   1   2   3   4   5   6   7   8   9  10  11  12  14  15  16  17  18
  19  21  22  23  25  27  28  29  30  32  33  34  35  37  38  39  40  41
  42  43  44  45  46  47  48  49  50  51  53  54  55  56  57  58  60  61
  62  63  64  65  66  67  68  69  70  71  73  74  75  76  77  78  79  80
  81  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99
 100 101 102 103 104 105 106 107 108 109 110 111 112 113 115 116 117 118
 119 120 122 123 124 125 126 127 128 129 130 131 132 133 135 136 137 138
 139 140 141 142 143 144 145 146 149 150 151 152 153 154 156 157 158 160
 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 178 179
 180 181 182 183 185 186 187 188 189 190 191 193 194 195 196 197 198 199
 200 202 203 204 205 206 207 208 209 210 212 213 214 215 216 219 220 221
 222 223 224 225 226 227 228 230 231 232 233 234 236 237 238 239 240 241
 242 243 244 247 248 249 250 251 253 254 255 256 257 258 259 260 261 262
 264 265 267 268 269 270 271 272 273 274 275 277 278 279 280 281 282 283
 284 285 286 287 288 289 290 291 292 293 294 295 297 298 299 300 302 303
 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321
 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339
 340 341 342 343 345 346 347 348 349 350 351 352 353 354 355 357 358 359
 360 361 362 363 364 365 367 368 369 370 371 372 373 374 375 377 378 379
 380 381 382 383 384 385 386 387 389 390 391 392 394 395 396 397]
 Test indices : [ 13  20  24  26  31  36  52  59  72  82 114 121 134 147 148 155 159 177
 184 192 201 211 217 218 229 235 245 246 252 263 266 276 296 301 344 356
 366 376 388 393]

Fold 3
 Train indices: [  1   2   3   4   5   7   8   9  10  11  13  14  15  16  17  18  19  20
  22  23  24  25  26  27  28  29  31  32  33  34  35  36  37  39  40  41
  42  43  44  45  46  47  48  49  50  51  52  53  54  56  57  58  59  60
  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78
  79  80  81  82  83  84  85  86  87  88  89  90  91  92  94  96  97  98
  99 100 101 102 103 104 105 106 108 109 110 111 112 113 114 115 116 117
 118 119 120 121 122 123 124 126 127 128 129 130 131 132 133 134 135 136
 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154
 155 156 158 159 161 163 164 166 167 168 169 170 172 174 175 176 177 178
 179 180 182 183 184 185 186 187 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 221 222 224 225 226 227 229 230 231 233 234 235 236 238 239
 240 242 243 244 245 246 247 249 250 251 252 253 254 255 256 257 258 259
 260 261 262 263 264 265 266 267 268 269 270 271 272 275 276 277 278 279
 280 281 282 284 285 288 289 290 291 292 293 294 295 296 297 299 300 301
 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319
 320 321 322 323 324 325 326 328 329 330 331 332 333 334 335 337 339 340
 341 342 343 344 345 346 347 348 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 365 366 367 368 370 371 372 373 375 376 378 379 380 381
 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397]
 Test indices : [  0   6  12  21  30  38  55  93  95 107 125 157 160 162 165 171 173 181
 188 220 223 228 232 237 241 248 273 274 283 286 287 298 327 336 338 349
 364 369 374 377]

Fold 4
 Train indices: [  0   1   2   3   6   7   8   9  10  11  12  13  14  15  16  17  18  20
  21  23  24  25  26  27  28  30  31  32  33  34  36  37  38  39  40  41
  42  43  44  45  46  47  48  49  50  51  52  54  55  56  57  58  59  60
  61  62  63  64  65  66  67  68  69  70  72  73  75  76  77  79  81  82
  83  84  85  86  87  88  89  91  92  93  95  96  97  98  99 100 101 102
 103 104 106 107 108 109 110 111 112 113 114 115 116 118 119 120 121 122
 123 124 125 126 127 129 130 131 132 133 134 135 136 137 138 139 140 141
 142 145 146 147 148 149 150 151 153 154 155 157 158 159 160 161 162 163
 164 165 166 167 168 169 170 171 172 173 174 175 176 177 180 181 182 183
 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201
 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220
 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238
 239 240 241 242 243 244 245 246 247 248 250 251 252 253 254 255 256 257
 258 259 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276
 277 278 279 280 281 282 283 285 286 287 288 289 290 291 292 293 294 295
 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313
 314 315 316 317 318 319 321 322 324 325 326 327 328 329 330 331 333 334
 335 336 337 338 339 340 341 342 343 344 345 347 348 349 350 351 352 353
 356 357 358 359 360 361 362 363 364 365 366 369 371 372 373 374 375 376
 377 378 379 381 382 385 386 387 388 389 390 391 392 393 395 396]
 Test indices : [  4   5  19  22  29  35  53  71  74  78  80  90  94 105 117 128 143 144
 152 156 178 179 202 249 260 284 320 323 332 346 354 355 367 368 370 380
 383 384 394 397]

Fold 5
 Train indices: [  0   1   2   3   4   5   6   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  35  36  38
  39  40  41  42  43  45  46  47  48  50  51  52  53  54  55  56  57  58
  59  60  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77
  78  79  80  82  83  84  85  86  87  88  90  91  92  93  94  95  96  97
  98  99 100 101 102 103 105 106 107 109 110 111 112 113 114 116 117 118
 119 120 121 122 123 124 125 126 128 129 130 131 132 133 134 135 137 138
 139 140 141 142 143 144 146 147 148 149 150 151 152 153 154 155 156 157
 158 159 160 161 162 163 165 168 169 170 171 172 173 174 175 176 177 178
 179 180 181 182 183 184 185 186 187 188 189 190 192 193 194 195 196 197
 198 199 201 202 203 205 206 208 209 210 211 212 213 214 215 216 217 218
 219 220 221 222 223 224 225 227 228 229 230 232 233 235 237 238 239 241
 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 259 260
 261 262 263 264 265 266 267 268 269 270 271 272 273 274 276 277 278 279
 281 282 283 284 286 287 288 289 290 291 292 293 294 295 296 298 299 300
 301 302 303 304 305 307 308 309 310 311 312 313 314 316 318 319 320 321
 322 323 324 325 326 327 328 330 331 332 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 352 353 354 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 371 373 374 375 376 377 378 380
 381 382 383 384 385 386 387 388 389 390 392 393 394 395 396 397]
 Test indices : [  7  34  37  44  49  61  81  89 104 108 115 127 136 145 164 166 167 191
 200 204 207 226 231 234 236 240 258 275 280 285 297 306 315 317 329 333
 351 372 379 391]

Fold 6
 Train indices: [  0   1   2   3   4   5   6   7   8   9  11  12  13  14  15  16  17  18
  19  20  21  22  24  25  26  27  29  30  31  32  33  34  35  36  37  38
  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56
  57  58  59  60  61  62  63  64  65  67  68  70  71  72  73  74  75  76
  77  78  79  80  81  82  83  84  86  87  88  89  90  91  92  93  94  95
  96  97  98  99 101 102 103 104 105 106 107 108 109 111 113 114 115 116
 117 118 119 120 121 123 125 126 127 128 129 130 133 134 135 136 139 140
 141 142 143 144 145 146 147 148 149 150 152 153 154 155 156 157 158 159
 160 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178
 179 180 181 182 183 184 185 186 188 189 190 191 192 193 195 196 197 198
 199 200 201 202 204 205 206 207 208 209 210 211 213 214 215 217 218 219
 220 222 223 224 225 226 228 229 230 231 232 233 234 235 236 237 238 240
 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258
 259 260 262 263 264 265 266 268 269 270 271 272 273 274 275 276 277 278
 280 281 282 283 284 285 286 287 288 289 290 292 293 294 295 296 297 298
 299 301 302 304 305 306 309 310 311 312 313 314 315 316 317 318 320 322
 323 324 325 326 327 329 331 332 333 334 335 336 337 338 339 340 342 343
 344 345 346 347 348 349 350 351 352 353 354 355 356 358 359 360 361 362
 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381
 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397]
 Test indices : [ 10  23  28  66  69  85 100 110 112 122 124 131 132 137 138 151 161 187
 194 203 212 216 221 227 239 261 267 279 291 300 303 307 308 319 321 328
 330 341 357 363]

Fold 7
 Train indices: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  41  42  43  44  46  47  48  49  51  52  53  54  55  56
  57  58  59  60  61  64  65  66  67  68  69  70  71  72  73  74  75  76
  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  93  94  95
  96  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114
 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 131 132 133
 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151
 152 154 155 156 157 158 159 160 161 162 164 165 166 167 168 170 171 172
 173 175 176 177 178 179 180 181 183 184 186 187 188 189 190 191 192 193
 194 196 198 199 200 201 202 203 204 205 206 207 208 210 211 212 213 214
 216 217 218 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 239 240 241 242 243 244 245 246 248 249 250 252 253 254 255
 256 258 259 260 261 262 263 264 265 266 267 268 270 271 273 274 275 276
 277 278 279 280 282 283 284 285 286 287 290 291 292 293 294 295 296 297
 298 299 300 301 303 304 305 306 307 308 309 311 312 314 315 317 318 319
 320 321 322 323 325 327 328 329 330 331 332 333 334 335 336 338 339 340
 341 342 344 345 346 347 348 349 350 351 353 354 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378
 379 380 382 383 384 385 386 387 388 390 391 393 394 395 396 397]
 Test indices : [ 40  45  50  62  63  92  97 130 153 163 169 174 182 185 195 197 209 215
 219 238 247 251 257 269 272 281 288 289 302 310 313 316 324 326 337 343
 352 381 389 392]

Fold 8
 Train indices: [  0   1   2   4   5   6   7   9  10  11  12  13  15  17  18  19  20  21
  22  23  24  25  26  28  29  30  31  32  33  34  35  36  37  38  39  40
  41  42  43  44  45  47  48  49  50  51  52  53  54  55  57  59  61  62
  63  64  66  68  69  70  71  72  73  74  75  76  78  79  80  81  82  83
  84  85  89  90  91  92  93  94  95  96  97  98  99 100 101 102 104 105
 106 107 108 110 111 112 113 114 115 117 118 120 121 122 123 124 125 126
 127 128 129 130 131 132 134 135 136 137 138 142 143 144 145 146 147 148
 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167
 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185
 186 187 188 189 190 191 192 194 195 196 197 199 200 201 202 203 204 205
 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 223 224 225
 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 244
 245 246 247 248 249 251 252 253 255 257 258 260 261 263 264 266 267 268
 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286
 287 288 289 290 291 292 293 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 319 320 321 322 323 324
 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 343
 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 361 363
 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381
 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397]
 Test indices : [  3   8  14  16  27  46  56  58  60  65  67  77  86  87  88 103 109 116
 119 133 139 140 141 149 193 198 206 222 243 250 254 256 259 262 265 294
 318 342 360 362]

Fold 9
 Train indices: [  0   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  19
  20  21  22  23  24  26  27  28  29  30  31  32  33  34  35  36  37  38
  39  40  41  42  44  45  46  47  48  49  50  52  53  54  55  56  57  58
  59  60  61  62  63  65  66  67  68  69  71  72  73  74  75  77  78  79
  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97
  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115
 116 117 119 120 121 122 123 124 125 126 127 128 130 131 132 133 134 135
 136 137 138 139 140 141 142 143 144 145 147 148 149 150 151 152 153 155
 156 157 159 160 161 162 163 164 165 166 167 169 170 171 172 173 174 175
 176 177 178 179 181 182 184 185 187 188 189 190 191 192 193 194 195 196
 197 198 199 200 201 202 203 204 206 207 208 209 210 211 212 214 215 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 234 235
 236 237 238 239 240 241 242 243 245 246 247 248 249 250 251 252 253 254
 256 257 258 259 260 261 262 263 264 265 266 267 269 272 273 274 275 276
 277 279 280 281 282 283 284 285 286 287 288 289 291 292 293 294 295 296
 297 298 299 300 301 302 303 305 306 307 308 309 310 311 313 315 316 317
 318 319 320 321 322 323 324 326 327 328 329 330 332 333 334 335 336 337
 338 339 340 341 342 343 344 345 346 347 348 349 351 352 354 355 356 357
 359 360 361 362 363 364 365 366 367 368 369 370 372 374 376 377 378 379
 380 381 382 383 384 385 386 387 388 389 391 392 393 394 395 396 397]
 Test indices : [  1  18  25  43  51  64  70  76 118 129 146 154 158 168 180 183 186 205
 213 233 244 255 268 270 271 278 290 304 312 314 325 331 350 353 358 371
 373 375 390]

Fold 10
 Train indices: [  0   1   3   4   5   6   7   8   9  10  11  12  13  14  15  16  18  19
  20  21  22  23  24  25  26  27  28  29  30  31  33  34  35  36  37  38
  40  41  42  43  44  45  46  48  49  50  51  52  53  54  55  56  58  59
  60  61  62  63  64  65  66  67  69  70  71  72  74  75  76  77  78  79
  80  81  82  85  86  87  88  89  90  91  92  93  94  95  97 100 101 102
 103 104 105 107 108 109 110 112 114 115 116 117 118 119 120 121 122 124
 125 127 128 129 130 131 132 133 134 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 177 178 179 180 181
 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199
 200 201 202 203 204 205 206 207 209 210 211 212 213 215 216 217 218 219
 220 221 222 223 226 227 228 229 231 232 233 234 235 236 237 238 239 240
 241 242 243 244 245 246 247 248 249 250 251 252 254 255 256 257 258 259
 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277
 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295
 296 297 298 299 300 301 302 303 304 306 307 308 309 310 312 313 314 315
 316 317 318 319 320 321 323 324 325 326 327 328 329 330 331 332 333 335
 336 337 338 341 342 343 344 345 346 347 349 350 351 352 353 354 355 356
 357 358 359 360 362 363 364 366 367 368 369 370 371 372 373 374 375 376
 377 378 379 380 381 383 384 386 387 388 389 390 391 392 393 394 397]
 Test indices : [  2  17  32  39  47  57  68  73  83  84  96  98  99 106 111 113 123 126
 135 176 208 214 224 225 230 253 305 311 322 334 339 340 348 361 365 382
 385 395 396]

In [21]:
folds = []
for train_index, test_index in kf.split(data):
 folds.append((train_index, test_index))
# Access the 3rd fold
train_index, test_index = folds[2] # fold 3 (Python uses 0-based index)
data_train = data.iloc[train_index]
data_test = data.iloc[test_index]

In [22]:
print('Train Index:','\n', train_index)
print('Test Index:','\n', test_index)

Train Index:
 [  1   2   3   4   5   7   8   9  10  11  13  14  15  16  17  18  19  20
  22  23  24  25  26  27  28  29  31  32  33  34  35  36  37  39  40  41
  42  43  44  45  46  47  48  49  50  51  52  53  54  56  57  58  59  60
  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78
  79  80  81  82  83  84  85  86  87  88  89  90  91  92  94  96  97  98
  99 100 101 102 103 104 105 106 108 109 110 111 112 113 114 115 116 117
 118 119 120 121 122 123 124 126 127 128 129 130 131 132 133 134 135 136
 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154
 155 156 158 159 161 163 164 166 167 168 169 170 172 174 175 176 177 178
 179 180 182 183 184 185 186 187 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 221 222 224 225 226 227 229 230 231 233 234 235 236 238 239
 240 242 243 244 245 246 247 249 250 251 252 253 254 255 256 257 258 259
 260 261 262 263 264 265 266 267 268 269 270 271 272 275 276 277 278 279
 280 281 282 284 285 288 289 290 291 292 293 294 295 296 297 299 300 301
 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319
 320 321 322 323 324 325 326 328 329 330 331 332 333 334 335 337 339 340
 341 342 343 344 345 346 347 348 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 365 366 367 368 370 371 372 373 375 376 378 379 380 381
 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397]
Test Index:
 [  0   6  12  21  30  38  55  93  95 107 125 157 160 162 165 171 173 181
 188 220 223 228 232 237 241 248 273 274 283 286 287 298 327 336 338 349
 364 369 374 377]

In [23]:
print(len(data_train))
data_train.head()

358

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500

In [24]:
print(len(data_test))
data_test.head()

40

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
6,14.0,8,454.0,220.0,4354.0,9.0,70,1,chevrolet impala
12,15.0,8,400.0,150.0,3761.0,9.5,70,1,chevrolet monte carlo
21,24.0,4,107.0,90.0,2430.0,14.5,70,2,audi 100 ls
30,28.0,4,140.0,90.0,2264.0,15.5,71,1,chevrolet vega 2300

In [25]:
data_train.tail(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10

In [26]:
data_test.tail(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
349,34.1,4,91.0,68.0,1985.0,16.0,81,3,mazda glc 4
364,26.6,8,350.0,105.0,3725.0,19.0,81,1,oldsmobile cutlass ls
369,34.0,4,112.0,88.0,2395.0,18.0,82,1,chevrolet cavalier 2-door
374,23.0,4,151.0,NaN,3035.0,20.5,82,1,amc concord dl
377,31.0,4,91.0,68.0,1970.0,17.6,82,3,mazda glc custom

Bootstrap Sampling

In [28]:
from sklearn.utils import resample

In [29]:
import pandas as pd
data = pd.read_csv("btissue.csv")

In [34]:
import numpy as np
np.shape(data)

(106, 10)

In [35]:
X = data.iloc[:,0:9]
X.head()

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
0,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334
1,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776
2,551.879287,0.232478,0.063530,264.804935,11888.391830,44.894903,77.793297,253.785300,656.769449
3,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701814
4,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503

In [36]:
X1=resample(X, n_samples=200, random_state=0)
X1.head(6)
# Generates a sample of size 200 (as mentioned in parameter n_samples)
#with repetition

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
44,172.515797,0.127235,0.038397,37.543673,192.218148,5.119855,19.322081,32.189821,174.933770
47,370.395725,0.104720,0.000000,115.923253,1308.120430,11.284366,31.367031,112.715102,365.977651
64,391.000000,0.058119,0.011170,35.780061,265.149790,7.410546,22.131472,28.114244,400.994818
67,145.000000,0.117635,0.110305,21.218942,82.455562,3.885941,20.303082,6.166715,162.510927
67,145.000000,0.117635,0.110305,21.218942,82.455562,3.885941,20.303082,6.166715,162.510927
103,1600.000000,0.071908,-0.066323,436.943603,12655.342130,28.963331,103.732704,432.129749,1475.371534

In [37]:
X1.shape

(200, 9)