In [3]:
import pandas as pd
data = pd.read_csv('btissue.csv')
print(data)

              I0     PA500       HFS           DA           Area        A/DA  \
0     524.794072  0.187448  0.032114   228.800228    6843.598481   29.910803
1     330.000000  0.226893  0.265290   121.154201    3163.239472   26.109202
2     551.879287  0.232478  0.063530   264.804935   11888.391830   44.894903
3     380.000000  0.240855  0.286234   137.640111    5402.171180   39.248524
4     362.831266  0.200713  0.244346   124.912559    3290.462446   26.342127
..           ...       ...       ...          ...            ...         ...
101  2000.000000  0.106989  0.105418   520.222649   40087.920980   77.059161
102  2600.000000  0.200538  0.208043  1063.441427  174480.476200  164.071543
103  1600.000000  0.071908 -0.066323   436.943603   12655.342130   28.963331
104  2300.000000  0.045029  0.136834   185.446044    5086.292497   27.427344
105  2600.000000  0.069988  0.048869   745.474369   39845.773700   53.450226

         Max IP          DR            P class
0     60.204880  220.737212   556.828334   car
1     69.717361   99.084964   400.225776   car
2     77.793297  253.785300   656.769449   car
3     88.758446  105.198568   493.701814   car
4     69.389389  103.866552   424.796503   car
..          ...         ...          ...   ...
101  204.090347  478.517223  2088.648870   adi
102  418.687286  977.552367  2664.583623   adi
103  103.732704  432.129749  1475.371534   adi
104  178.691742   49.593290  2480.592151   adi
105  154.122604  729.368395  2545.419744   adi

[106 rows x 10 columns]

In [10]:
data.tail(10)

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P,class
96,1650.000000,0.047647,0.043284,274.426177,5824.895192,21.225727,81.239571,262.125656,1603.070348,adi
97,2800.000000,0.083078,0.184307,583.259257,31388.652880,53.815953,298.582977,501.038494,2896.582483,adi
98,2329.840138,0.066148,0.353255,377.253368,25369.039920,67.246689,336.075165,171.387227,2686.435346,adi
99,2400.000000,0.084125,0.220610,596.041955,37939.255570,63.651988,261.348175,535.689409,2447.772353,adi
100,2000.000000,0.067195,0.124267,330.271646,15381.097690,46.571051,169.197983,283.639564,2063.073212,adi
101,2000.000000,0.106989,0.105418,520.222649,40087.920980,77.059161,204.090347,478.517223,2088.648870,adi
102,2600.000000,0.200538,0.208043,1063.441427,174480.476200,164.071543,418.687286,977.552367,2664.583623,adi
103,1600.000000,0.071908,-0.066323,436.943603,12655.342130,28.963331,103.732704,432.129749,1475.371534,adi
104,2300.000000,0.045029,0.136834,185.446044,5086.292497,27.427344,178.691742,49.593290,2480.592151,adi
105,2600.000000,0.069988,0.048869,745.474369,39845.773700,53.450226,154.122604,729.368395,2545.419744,adi

In [15]:
from sklearn.model_selection import train_test_split
data.shape
data_train,data_test = train_test_split(data,test_size=0.3,random_state=123)

In [17]:
len(data_test)

32

K-fold cross validation

In [20]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=10,shuffle=True,random_state=123)

for fold, (train_index,test_index) in enumerate(kf.split(data),1):
    print(f"Fold {fold}")
    print(" Train indices:",train_index)
    print(" Test indices:",test_index,"\n")

Fold 1
 Train indices: [  1   2   3   4   6   7   9  10  11  12  13  14  15  16  17  18  19  20
  21  22  23  24  25  26  27  29  30  31  32  33  34  35  36  37  38  39
  40  41  42  43  44  45  46  47  48  49  50  51  52  54  55  56  57  58
  59  60  61  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78
  79  80  81  82  83  84  86  87  88  89  91  92  94  95  96  97  98 100
 101 102 103 104 105]
 Test indices: [ 0  5  8 28 53 62 63 85 90 93 99]

Fold 2
 Train indices: [  0   1   2   3   5   6   7   8   9  10  11  12  14  15  16  17  18  19
  20  21  22  25  26  27  28  29  30  32  33  34  35  36  37  39  40  43
  44  45  46  47  48  49  51  52  53  54  55  56  57  58  59  60  61  62
  63  64  65  66  67  68  69  70  71  73  74  75  76  77  78  79  80  81
  82  83  84  85  86  88  89  90  91  92  93  94  95  96  97  98  99 100
 101 102 103 104 105]
 Test indices: [ 4 13 23 24 31 38 41 42 50 72 87]

Fold 3
 Train indices: [  0   1   2   3   4   5   6   7   8  10  11  12  13  14  15  16  17  18
  20  22  23  24  25  26  27  28  30  31  32  34  35  36  37  38  39  40
  41  42  43  44  45  46  47  48  49  50  51  52  53  55  56  57  58  60
  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78
  80  81  83  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99
 100 101 102 104 105]
 Test indices: [  9  19  21  29  33  54  59  79  82  84 103]

Fold 4
 Train indices: [  0   1   2   3   4   5   6   7   8   9  10  11  13  14  15  16  17  18
  19  21  22  23  24  25  26  27  28  29  30  31  32  33  34  36  37  38
  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56
  57  58  59  61  62  63  64  66  67  68  69  72  73  74  75  76  78  79
  80  81  82  83  84  85  86  87  88  89  90  92  93  94  95  96  97  98
  99 100 102 103 105]
 Test indices: [ 12  20  35  60  65  70  71  77  91 101 104]

Fold 5
 Train indices: [  0   2   3   4   5   6   7   8   9  10  12  13  15  17  18  19  20  21
  22  23  24  25  27  28  29  30  31  32  33  34  35  36  38  39  40  41
  42  43  44  45  46  47  48  49  50  52  53  54  55  57  58  59  60  61
  62  63  64  65  66  67  68  69  70  71  72  73  74  75  77  78  79  80
  82  83  84  85  86  87  88  90  91  92  93  94  95  96  97  98  99 100
 101 102 103 104 105]
 Test indices: [ 1 11 14 16 26 37 51 56 76 81 89]

Fold 6
 Train indices: [  0   1   2   3   4   5   7   8   9  10  11  12  13  14  16  17  19  20
  21  23  24  25  26  27  28  29  31  32  33  34  35  36  37  38  39  40
  41  42  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60  61
  62  63  64  65  66  67  68  69  70  71  72  73  76  77  78  79  80  81
  82  83  84  85  86  87  89  90  91  92  93  94  95  96  97  98  99 100
 101 102 103 104 105]
 Test indices: [ 6 15 18 22 30 43 44 45 74 75 88]

Fold 7
 Train indices: [  0   1   2   4   5   6   7   8   9  11  12  13  14  15  16  17  18  19
  20  21  22  23  24  25  26  28  29  30  31  32  33  35  36  37  38  39
  41  42  43  44  45  46  47  48  49  50  51  53  54  55  56  57  59  60
  61  62  63  65  66  67  68  70  71  72  73  74  75  76  77  78  79  80
  81  82  83  84  85  86  87  88  89  90  91  92  93  95  96  97  98  99
 100 101 102 103 104 105]
 Test indices: [ 3 10 27 34 40 52 58 64 69 94]

Fold 8
 Train indices: [  0   1   3   4   5   6   8   9  10  11  12  13  14  15  16  17  18  19
  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37
  38  40  41  42  43  44  45  46  47  50  51  52  53  54  56  57  58  59
  60  62  63  64  65  66  68  69  70  71  72  73  74  75  76  77  78  79
  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  96  97  98
  99 100 101 102 103 104]
 Test indices: [  2   7  39  48  49  55  61  67  95 105]

Fold 9
 Train indices: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  26  27  28  29  30  31  33  34  35  37  38
  39  40  41  42  43  44  45  48  49  50  51  52  53  54  55  56  57  58
  59  60  61  62  63  64  65  66  67  69  70  71  72  74  75  76  77  79
  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98
  99 101 102 103 104 105]
 Test indices: [ 25  32  36  46  47  68  73  78  80 100]

Fold 10
 Train indices: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  58  59  60  61  62  63  64  65  67  68  69  70  71  72  73  74
  75  76  77  78  79  80  81  82  84  85  87  88  89  90  91  93  94  95
  99 100 101 103 104 105]
 Test indices: [ 17  57  66  83  86  92  96  97  98 102]

In [33]:
folds =[]
for train_index,test_index in kf.split(data):
    folds.append((train_index,test_index))

train_index,test_index =folds[4]

print('Train Index \n',train_index)
print('Test Index: \n',test_index)

Train Index
 [  0   2   3   4   5   6   7   8   9  10  12  13  15  17  18  19  20  21
  22  23  24  25  27  28  29  30  31  32  33  34  35  36  38  39  40  41
  42  43  44  45  46  47  48  49  50  52  53  54  55  57  58  59  60  61
  62  63  64  65  66  67  68  69  70  71  72  73  74  75  77  78  79  80
  82  83  84  85  86  87  88  90  91  92  93  94  95  96  97  98  99 100
 101 102 103 104 105]
Test Index:
 [ 1 11 14 16 26 37 51 56 76 81 89]

In [36]:
data_train = data.iloc[train_index]
data_test = data.iloc[test_index]
data_train.head()

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P,class
0,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334,car
2,551.879287,0.232478,0.063530,264.804935,11888.391830,44.894903,77.793297,253.785300,656.769449,car
3,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701814,car
4,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503,car
5,389.872978,0.150098,0.097738,118.625814,2475.557078,20.868620,49.757149,107.686164,429.385788,car

In [ ]:
Bootstrap sampling
resample function of sklearn.utils is used

In [43]:
from sklearn.utils import resample
import pandas as pd
import numpy as np

data = pd.read_csv("btissue.csv")
np.shape(data)

x = data.iloc[:,:9]
x.head()

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
0,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334
1,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776
2,551.879287,0.232478,0.063530,264.804935,11888.391830,44.894903,77.793297,253.785300,656.769449
3,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701814
4,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503

In [47]:
x1 = resample(x,n_samples=200,random_state = 0)
x1.head()

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
44,172.515797,0.127235,0.038397,37.543673,192.218148,5.119855,19.322081,32.189821,174.933770
47,370.395725,0.104720,0.000000,115.923253,1308.120430,11.284366,31.367031,112.715102,365.977651
64,391.000000,0.058119,0.011170,35.780061,265.149790,7.410546,22.131472,28.114244,400.994818
67,145.000000,0.117635,0.110305,21.218942,82.455562,3.885941,20.303082,6.166715,162.510927
67,145.000000,0.117635,0.110305,21.218942,82.455562,3.885941,20.303082,6.166715,162.510927

In [49]:
from sklearn.tree import DecisionTreeClassifier
predictors = data.iloc[:,0:9]
predictors.head()

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
0,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334
1,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776
2,551.879287,0.232478,0.063530,264.804935,11888.391830,44.894903,77.793297,253.785300,656.769449
3,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701814
4,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503

In [51]:
target = data.iloc[:,9]
target.head()

0    car
1    car
2    car
3    car
4    car
Name: class, dtype: object

In [55]:
from sklearn.model_selection import train_test_split
predictors_train,predictors_test,target_train,target_test = train_test_split(predictors,target,test_size=0.3,random_state=123)

In [58]:
dtree_entropy = DecisionTreeClassifier(criterion="entropy",random_state=100)
model = dtree_entropy.fit(predictors_train,target_train)
prediction = model.predict(predictors_test)
from sklearn.metrics import accuracy_score
accuracy_score(target_test,prediction,normalize = True)

0.65625

In [60]:
from sklearn.metrics import confusion_matrix
target_test

53     mas
28     fad
63     gla
99     adi
93     adi
90     adi
8      car
5      car
0      car
62     gla
85     adi
4      car
31     fad
87     adi
13     car
38     mas
72     con
41     mas
42     mas
24     fad
23     fad
50     mas
29     fad
54     gla
19     car
59     gla
33     fad
103    adi
82     con
9      car
79     con
84     adi
Name: class, dtype: object

In [61]:
confusion_matrix(target_test,prediction)

array([[6, 0, 1, 0, 0, 0],
       [0, 7, 0, 0, 0, 0],
       [0, 0, 3, 0, 0, 0],
       [0, 1, 0, 1, 0, 4],
       [0, 1, 0, 1, 1, 1],
       [0, 2, 0, 0, 0, 3]])