In [1]:
from sklearn.tree import DecisionTreeClassifier
# Decision Tree is one of the Classification Model

In [3]:
import pandas as pd
data = pd.read_csv("btissue.csv")

In [4]:
predictors = data.iloc[:,0:9] #Segregating the predictors
predictors.head()

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
0,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334
1,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776
2,551.879287,0.232478,0.063530,264.804935,11888.391830,44.894903,77.793297,253.785300,656.769449
3,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701814
4,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503

In [5]:
target = data.iloc[:,9] #Segregating the target/class
target.head()

0    car
1    car
2    car
3    car
4    car
Name: class, dtype: object

In [6]:
from sklearn.model_selection import train_test_split
predictors_train, predictors_test, target_train, target_test = train_test_split(predictors,target,test_size=0.3,random_state=123)
#Holdout of data

In [7]:
predictors_train.head()
# predictors_test.head()
# target_train.head()
# target_test.head()

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
21,211.000000,0.053931,0.094248,30.753443,151.984578,4.942034,14.268374,27.243124,217.130704
77,691.972031,0.026005,0.086568,190.676692,304.270718,1.595742,23.975718,189.163331,594.315626
35,144.000000,0.120602,0.046077,19.647670,70.426239,3.584458,18.131014,7.569493,160.373770
71,1385.664721,0.092328,0.089361,202.480044,8785.028733,43.387134,143.092194,143.257780,1524.609204
65,502.000000,0.065275,0.027925,53.239433,834.272730,15.670203,33.331142,41.514722,544.039415

In [8]:
dtree_entropy = DecisionTreeClassifier(criterion='entropy', random_state = 100, max_depth=3, min_samples_leaf=5)

In [9]:
# Finally the model is trained
model = dtree_entropy.fit(predictors_train,target_train)

Evaluating model performance

Supervised Learning - Classification

In [10]:
prediction=model.predict(predictors_test)

In [11]:
from sklearn.metrics import accuracy_score

In [12]:
accuracy_score(target_test, prediction, normalize = True)

0.625

In [13]:
from sklearn.metrics import confusion_matrix

In [14]:
target_test
#len(target_test)

53     mas
28     fad
63     gla
99     adi
93     adi
90     adi
8      car
5      car
0      car
62     gla
85     adi
4      car
31     fad
87     adi
13     car
38     mas
72     con
41     mas
42     mas
24     fad
23     fad
50     mas
29     fad
54     gla
19     car
59     gla
33     fad
103    adi
82     con
9      car
79     con
84     adi
Name: class, dtype: object

In [15]:
confusion_matrix(target_test,prediction)

array([[6, 0, 1, 0, 0, 0],
       [0, 7, 0, 0, 0, 0],
       [0, 0, 3, 0, 0, 0],
       [0, 2, 0, 0, 0, 4],
       [0, 1, 0, 0, 1, 2],
       [0, 2, 0, 0, 0, 3]])

Supervised learning - regression

In [17]:
data = pd.read_csv('auto_mpg.csv')

In [18]:
data = data.dropna(axis=0, how='any')
#Remove all rows where value of any columnis ‘NaN’

In [20]:
predictors = data.iloc[:,1:8]
#Seggretating the predictor variables
predictors

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,8,307.0,130.0,3504.0,12.0,70,1
1,8,350.0,165.0,3693.0,11.5,70,1
2,8,318.0,150.0,3436.0,11.0,70,1
3,8,304.0,150.0,3433.0,12.0,70,1
4,8,302.0,140.0,3449.0,10.5,70,1
...,...,...,...,...,...,...,...
393,4,140.0,86.0,2790.0,15.6,82,1
394,4,97.0,52.0,2130.0,24.6,82,2
395,4,135.0,84.0,2295.0,11.6,82,1
396,4,120.0,79.0,2625.0,18.6,82,1
397,4,119.0,82.0,2720.0,19.4,82,1

In [21]:
target = data.iloc[:,0]
#Seggretating the target / class variable
target

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 392, dtype: float64

In [22]:
from sklearn.model_selection import train_test_split
predictors_train, predictors_test, target_train, target_test = train_test_split(predictors, target, test_size=0.3, random_state=123)

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
model = LinearRegression()

In [25]:
# First train model / classifier with the input dataset (training data part of it)
model = model.fit(predictors_train, target_train)

In [26]:
# Make prediction using the trained model
prediction = model.predict(predictors_test)

In [27]:
from sklearn.metrics import mean_squared_error, r2_score

In [28]:
mean_squared_error(target_test, prediction)

12.1663134333307

In [29]:
 r2_score(target_test, prediction)

0.7867839344447644