In [1]:
print("Hello from C021")

Hello from C021

In [2]:
age  = 25
print("Integer: ", age, type(age))

Integer:  25 <class 'int'>

In [3]:
height  = 5.9
print("Float", height, type(height))

Float 5.9 <class 'float'>

In [5]:
#Arithmatic Operations
a= 10
b =3
print("Addition: ", a+b)
print("Subtraction: ", a-b)
print("Multiplication: ", a*b)
print("Divison: ", a/b)
print("Floor Division: ", a//b)
print("Modulus: ", a%b)
print("Exponentiation: ", a**b)

Addition:  13
Subtraction:  7
Multiplication:  30
Divison:  3.3333333333333335
Floor Division:  3
Modulus:  1
Exponentiation:  1000

In [8]:
#Comparison Operations
x= 5
y = 8
print("Equal: ", x==y)
print("Not Equal: ", x!=y)
print("Greater than: ", x>y)
print("Lesser than: ", x<y)
# Same with ">=" for "greater than equals to" and "<=" for "less than equals to"

Equal:  False
Not Equal:  True
Greater than:  False
Lesser than:  True

In [9]:
#Logical Operators
p =True
q = False
print("AND:", p and q)
print("OR:", p or q)
print("NOT P:", not p)
print("NOT Q:", not q)

AND: False
OR: True
NOT P: False
NOT Q: True

In [11]:
#String Operations
str1 ="Hello"
str2 = "World"

print("Concatenation: ", str1+ " " + str2)
print("Repetition: ", str1*3)
print("Length: ", len(str1), len(str2))
print("Uppercase: ",str1.upper())
print("Lowercase: ", str2.lower())
print("Contains 'ell': ", 'ell' in str1, 'ell' in str2)

Concatenation:  Hello World
Repetition:  HelloHelloHello
Length:  5 5
Uppercase:  HELLO
Lowercase:  world
Contains 'ell':  True False

In [2]:
#For Loop
for i in range(1, 10):
    print(i, end=" ")
print()
arr = [1,2,24,5,6,7,8,136,6,3,62346,]
for num in arr:
    print(num, end=" ")
# print()
# for num in arr:
#     for i in range(1,10):
#         print(i, end=" ")


#for i in range(x,y,z)
# x- starting 
# y- end
# z - increament

1 2 3 4 5 6 7 8 9
1 2 24 5 6 7 8 136 6 3 62346

In [3]:
#While Loop

count = 10
while count > 0:
    print(count, end=" ")
    count-=1

10 9 8 7 6 5 4 3 2 1

In [6]:
#elif Statements
num = int(input("Enter a number: "))
print("Greater than 0") if num>0 else print("Lesser than 0")

Enter a number: 5
Greater than 0

In [ ]:
#Find sum of first 15 natural numbers
n = 15
sum = 0
while n>0:
    sum+=n
    n-=1
print(sum)

In [4]:
#Find 15 factorial
fact = 1
n =int(input())
for x in range(1,n+1):
    fact*=x
print(fact)

17
355687428096000

In [8]:
#Check weather num is divisble by 3

n = int(input())
print(n," is divisble by 3") if n%3==0 else print(n, " isn't divisible by 3")

6
6  is divisble by 3

In [11]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [13]:
#List Operations
arr =[1,3,5]
arr.insert(1,80)
print(arr)

[1, 80, 3, 5]

In [15]:
arr.extend([5,65])
print(arr)

[1, 80, 3, 5, 5, 65, 5, 65]

In [19]:
arr.remove(5)
print(arr)

[1, 80, 3, 5, 65]

In [21]:
print(arr[2])

3

In [22]:
#List Slicing and Methods

nums = [1,2,3,4,5,6,7,8,9]

print("Original", nums)
print("Reversed", nums[::-1])
print("First 3", nums[:3])
print("Last 3", nums[-3:])
print("Middle", nums[3:7])
print("Every second", nums[::2])
print("Length", len(nums))
print("Sum: ", sum(nums))
print("Max: ", max(nums))
print("Min: ", min(nums))

Original [1, 2, 3, 4, 5, 6, 7, 8, 9]
Reversed [9, 8, 7, 6, 5, 4, 3, 2, 1]
First 3 [1, 2, 3]
Last 3 [7, 8, 9]
Middle [4, 5, 6, 7]
Every second [1, 3, 5, 7, 9]
Length 9
Sum:  45
Max:  9
Min:  1

In [24]:
sq = [x**2 for x in range(1,6)]
print(sq)

[1, 4, 9, 16, 25]

In [25]:
even_sq = [x**2 for x in range(1,11) if x%2==0]
print(even_sq)

[4, 16, 36, 64, 100]

In [27]:
matrix = [[i*j for j in range(1,4)] for i in range(1,4)]
print(matrix)

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [28]:
#Tuples

simple_tuple = (1,2,3)
mixed_tuple = (1,"hi", True, 4.9)
single_tuple = (42,)
empty_tuple = ()

print("Simple tuple: ", simple_tuple)
print("Mixed tuple: ", mixed_tuple)
print("Single tuple: ", single_tuple)
print("Empty tuple: ", empty_tuple)

Simple tuple:  (1, 2, 3)
Mixed tuple:  (1, 'hi', True, 4.9)
Single tuple:  (42,)
Empty tuple:  ()

In [34]:
#Dictionaries

student = {
    "Name": "Rajendra",
    "Age": 21,
    "Subjects": ["PFCD", "PPWC", "MLC", "ITC", "DPOS", "CNC"],
    "CGPA": 8.9,
    "Semester":"5th",
    "Section": "23412G3",
    "RegdNo": 2341019202
    
}

empty_dict = {}
another_dict = dict(name = "Aryan", age = 22)

print("Student: ", student)
print("Empty: ", empty_dict)
print("Another : ", another_dict)


print("Age: ", student.get("Age"))
print("Name: ", student["Name"])
student["Email"] = "rajendra@gmail.com"
student["Name"] = "Rajendra Aryan Sahu"
print(student)

removed = student.pop("Email")
print(removed)
print(student)

Student:  {'Name': 'Rajendra', 'Age': 21, 'Subjects': ['PFCD', 'PPWC', 'MLC', 'ITC', 'DPOS', 'CNC'], 'CGPA': 8.9, 'Semester': '5th', 'Section': '23412G3', 'RegdNo': 2341019202}
Empty:  {}
Another :  {'name': 'Aryan', 'age': 22}
Age:  21
Name:  Rajendra
{'Name': 'Rajendra Aryan Sahu', 'Age': 21, 'Subjects': ['PFCD', 'PPWC', 'MLC', 'ITC', 'DPOS', 'CNC'], 'CGPA': 8.9, 'Semester': '5th', 'Section': '23412G3', 'RegdNo': 2341019202, 'Email': 'rajendra@gmail.com'}
rajendra@gmail.com
{'Name': 'Rajendra Aryan Sahu', 'Age': 21, 'Subjects': ['PFCD', 'PPWC', 'MLC', 'ITC', 'DPOS', 'CNC'], 'CGPA': 8.9, 'Semester': '5th', 'Section': '23412G3', 'RegdNo': 2341019202}