## Q1

In [30]:
import pandas as pd
data = {
    'Name':['Rajendra','Guru','Om','Sourav','Rajendra','Om'],
    'Age':[10,20,30,40,10,30],
    'Score':[100,200,300,500,100,300]
}
df = pd.DataFrame(data)
print(df)
df.duplicated()

       Name  Age  Score
0  Rajendra   10    100
1      Guru   20    200
2        Om   30    300
3    Sourav   40    500
4  Rajendra   10    100
5        Om   30    300

0    False
1    False
2    False
3    False
4     True
5     True
dtype: bool

In [8]:
dff = df.drop_duplicates(keep=False)
dff

     Name  Age      City
1    Guru   20   Cuttack
3  Sourav   40  Baleswor

In [14]:
dfff = df.drop_duplicates(keep='last')
dfff

       Name  Age  Score
1      Guru   20    200
3    Sourav   40    500
4  Rajendra   10    100
5        Om   30    300

In [73]:
Dsubset = df.drop_duplicates(subset=['Name','Age'])
Dsubset

       Name  Age  Score
0  Rajendra   10    100
1      Guru   20    200
2        Om   30    300
3    Sourav   40    500

In [16]:
count = df.duplicated().sum()
count

2

In [75]:
age = df['Name'].drop_duplicates()
age

0    Rajendra
1        Guru
2          Om
3      Sourav
Name: Name, dtype: object

## Q2

In [53]:
import pandas as pd
data = pd.read_csv('btissue.csv')

In [58]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=5, shuffle=True, random_state=123)

In [59]:
for fold, (train_index,test_index) in enumerate(kf.split(data),1):
    print(f"Fold {fold}")
    print("Train indices: ", train_index)
    print("Test indices: ",test_index,"\n")

Fold 1
Train indices:  [  1   2   3   6   7   9  10  11  12  14  15  16  17  18  19  20  21  22
  25  26  27  29  30  32  33  34  35  36  37  39  40  43  44  45  46  47
  48  49  51  52  54  55  56  57  58  59  60  61  64  65  66  67  68  69
  70  71  73  74  75  76  77  78  79  80  81  82  83  84  86  88  89  91
  92  94  95  96  97  98 100 101 102 103 104 105]
Test indices:  [ 0  4  5  8 13 23 24 28 31 38 41 42 50 53 62 63 72 85 87 90 93 99]

Fold 2
Train indices:  [  0   1   2   3   4   5   6   7   8  10  11  13  14  15  16  17  18  22
  23  24  25  26  27  28  30  31  32  34  36  37  38  39  40  41  42  43
  44  45  46  47  48  49  50  51  52  53  55  56  57  58  61  62  63  64
  66  67  68  69  72  73  74  75  76  78  80  81  83  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 102 105]
Test indices:  [  9  12  19  20  21  29  33  35  54  59  60  65  70  71  77  79  82  84
 101 103 104]

Fold 3
Train indices:  [  0   2   3   4   5   7   8   9  10  12  13  17  18  19  20  21  22  23
  24  25  27  28  29  31  32  33  34  35  36  38  39  40  41  42  46  47
  48  49  50  52  53  54  55  57  58  59  60  61  62  63  64  65  66  67
  68  69  70  71  72  73  77  78  79  80  82  83  84  85  86  87  90  92
  93  94  95  96  97  98  99 100 101 102 103 104 105]
Test indices:  [ 1  6 11 14 15 16 26 30 37 43 44 45 51 56 74 75 76 81 88 89 91]

Fold 4
Train indices:  [  0   1   4   5   6   8   9  11  12  13  14  15  16  17  19  20  21  23
  24  25  26  28  29  30  31  32  33  35  36  37  38  41  42  43  44  45
  46  47  49  50  51  53  54  56  57  59  60  62  63  65  66  68  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  96  97  98  99 100 101 102 103 104]
Test indices:  [  2   3   7  10  18  22  27  34  39  40  48  52  55  58  61  64  67  69
  94  95 105]

Fold 5
Train indices:  [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  18
  19  20  21  22  23  24  26  27  28  29  30  31  33  34  35  37  38  39
  40  41  42  43  44  45  48  50  51  52  53  54  55  56  58  59  60  61
  62  63  64  65  67  69  70  71  72  74  75  76  77  79  81  82  84  85
  87  88  89  90  91  93  94  95  99 101 103 104 105]
Test indices:  [ 17  25  32  36  46  47  49  57  66  68  73  78  80  83  86  92  96  97
  98 100 102]

In [67]:
data_train = data.iloc[list(kf.split(data))[2][0]]

In [68]:
data_train

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P,class
0,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334,car
2,551.879287,0.232478,0.063530,264.804935,11888.391830,44.894903,77.793297,253.785300,656.769449,car
3,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701814,car
4,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503,car
5,389.872978,0.150098,0.097738,118.625814,2475.557078,20.868620,49.757149,107.686164,429.385788,car
...,...,...,...,...,...,...,...,...,...,...
101,2000.000000,0.106989,0.105418,520.222649,40087.920980,77.059161,204.090347,478.517223,2088.648870,adi
102,2600.000000,0.200538,0.208043,1063.441427,174480.476200,164.071543,418.687286,977.552367,2664.583623,adi
103,1600.000000,0.071908,-0.066323,436.943603,12655.342130,28.963331,103.732704,432.129749,1475.371534,adi
104,2300.000000,0.045029,0.136834,185.446044,5086.292497,27.427344,178.691742,49.593290,2480.592151,adi
105,2600.000000,0.069988,0.048869,745.474369,39845.773700,53.450226,154.122604,729.368395,2545.419744,adi

In [70]:
data_test = data.iloc[list(kf.split(data))[2][1]]
data_test

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P,class
1,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776,car
6,290.455141,0.144164,0.053058,74.635067,1189.545213,15.938154,35.703331,65.541324,330.267293,car
11,500.000000,0.227242,0.050964,219.295502,9819.449614,44.777250,76.868500,207.266640,602.527841,car
14,485.668806,0.230209,0.134041,253.893699,8135.968359,32.044783,64.855446,245.470531,541.363975,car
15,390.000000,0.358316,0.203854,245.686103,10055.836870,40.929612,70.324783,236.490170,477.548360,car
16,269.495946,0.207520,0.038397,80.411085,1963.605248,24.419584,44.740154,66.838309,329.090647,car
26,259.885145,0.070686,0.006981,58.243807,465.087265,7.985180,17.506838,56.340241,267.517446,fad
30,272.000000,0.091455,0.004887,63.789380,718.946310,11.270627,20.085556,60.690729,286.920220,fad
37,195.000000,0.139103,0.205251,37.462196,328.384052,8.765745,35.023827,13.294650,232.587628,mas
43,252.000000,0.106116,0.031416,38.544210,493.790423,12.811014,25.541145,28.867040,280.658299,mas
44,172.515797,0.127235,0.038397,37.543673,192.218148,5.119855,19.322081,32.189821,174.933770,mas
45,121.000000,0.174184,0.090757,24.437180,144.466513,5.911750,22.021080,10.594708,141.766185,mas
51,274.993396,0.147131,0.137532,66.457943,1217.415651,18.318588,40.849678,52.421008,327.558639,mas
56,152.000000,0.165806,0.227591,34.219550,94.354328,2.757322,31.279278,13.877478,180.609553,gla
74,1500.000000,0.056549,0.050265,375.096603,4759.454546,12.688610,78.445976,366.801978,1336.158534,con
75,770.000000,0.041628,0.002435,175.019684,346.091312,1.977442,25.222330,173.192737,654.798419,con
76,650.000000,0.041015,0.145211,216.811330,427.534068,1.971918,33.765163,214.165979,528.699233,con
81,1270.666717,0.078889,0.065624,555.352318,3612.968333,6.505723,68.781670,551.076473,895.187441,con
88,1700.000000,0.043982,0.105127,120.653010,12331.103090,102.203029,120.297318,-9.257696,2212.178196,adi
89,1949.118155,0.051798,0.016501,170.331495,3212.077055,18.857799,101.455849,136.819329,1941.367383,adi
91,2350.000000,0.081507,0.271573,515.289477,27758.640260,53.869992,289.569061,426.231160,2457.676736,adi

In [71]:
len(data_train)

21

In [72]:
len(data_test)

21